/* Resetting default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'komika', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
section#hero {
    position: relative;
    height: 80vh; /* Adjust the height of the hero section */
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

section {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    background-color: #f0f0f0; /* Light grey background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    border-radius: 10px; /* Rounded corners */
}

.text {
    grid-column: span 2;
    padding: 20px;
    background-color: #fff;
}

.picture {
    width: 100%;
    height: 200px;
    background-color: #ccc; 
    background-size: cover; /* Optional background size */
    background-position: center; /* Optional background position */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure the image fits within the container */
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
}
/* Video Banner Section */
#video-banner {
    text-align: center;
    padding: 40px 0;
}

.video-container {
    position: relative;
    display: inline-block;
}

.video-container video {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.video-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
